In [1]:
#Operators 


#Arithmatic
#Relational or comparison
#Equality
#Ternary 
#Compound 
#Special Operators

In [6]:
#Arithmatic 
a = 10 
b = 3

print('a+b:', a+b)
print('a-b:',a-b)
print('a*b:',a*b)
print('a/b:',a/b)
print('a%b:',a%b)
print('a//b:',a//b)
print('a**b:',a**b)

a+b: 13
a-b: 7
a*b: 30
a/b: 3.3333333333333335
a%b: 1
a//b: 3
a**b: 1000

In [7]:
a = 'a'
b = 'b'
a+b

'ab'

In [9]:
a = 10
b = int('10')

a+b

20

In [10]:
a = 10 
b = 3
print('a<b:',a<b)
print('a<=b:',a<=b)
print('a>b:',a>b)
print('a>=b:',a>=b)

a<b: False
a<=b: False
a>b: True
a>=b: True

In [14]:
a = 10 
b = 3 
a == b
a!=b

True

In [15]:
a = 10 
b = 5
x = a if a>b else b
x

10

In [19]:
a = 10 
b = 5
c = 7
x = a if a>b>c else b if b>c else c 
x

7

In [21]:
a = 10 
b = 5
c = 7
x = a if a>b or a>c else b if b>c else c 
x

10

In [22]:
a = 10 
a +=20
#a=a+20
a

30

In [ ]:
#Special Operators 
    #Membership operators
        #in
        #not in
    #Identity Operators
        #is
        #is not

In [23]:
a = 10 
b = 10 
a is b

True

In [25]:
print(id(a))
print(id(b))

2909665782352
2909665782352

In [32]:
a = 250.5
b = 250.5
a is b

False

In [27]:
print(id(a))
print(id(b))

2909746180848
2909746180976

In [34]:
a = [1,2,3,4,5]
5 not in a

False

In [35]:
#Input statement

In [56]:
age = bool(input('Enter the age: '))

Enter the age: -1

In [57]:
type(age)

bool

In [58]:
age

True

In [59]:
age=36
print(age)

36

In [62]:
print('Hi',end=' ')
print('How are you? ',end=' ')
print('Hope doing good')

Hi How are you?  Hope doing good

In [61]:
print('Hi How are you? Hope doing good')

Hi How are you? Hope doing good

In [63]:
name = 'Rahul'
company = 'Deloitte'
salary = 10000

print('Hi', name, 'Your company is: ', company, 'Your salary is: ', salary)

Hi Rahul Your company is:  Deloitte Your salary is:  10000

In [68]:
name = 'Rahul'
company = 'Deloitte'
salary = 10000

print('Hi {n}, your company is: {c}, your salary is: {s}'.format(c=company, n=name,s=salary))

Hi Rahul, your company is: Deloitte, your salary is: 10000

In [70]:
name = 'Rahul'
company = 'Deloitte'
salary = 10000

print('Hi {name}, your company is: {company}, your salary is: {salary}')

Hi {name}, your company is: {company}, your salary is: {salary}

In [69]:
#if else

In [86]:
marks = int(input('Enter the marks: '))
if marks<35:
    print('You failed the exam')
    print('Hi')
elif marks>=35 and marks<=50:
    print('You got avg marks')
    print('Hi there')
else:
    print('You passed the exam')
    print('Hello')

Enter the marks: 32
You failed the exam
Hi

In [87]:
#for loop

In [88]:
s = 'Ballarpur'

In [89]:
s

'Ballarpur'

In [97]:
import time
for i in list(range(0,len(s))):
    print(s[i])
    time.sleep(2)

B
a
l
l
a
r
p
u
r

In [106]:
profit = [324,233,323]
sales = [4333,2333,1222,1333]

In [108]:
for i in range(0,len(profit)):
    print(profit[i]/sales[i])

0.07477498269097622
0.09987141020145734
0.26432078559738137

In [109]:
#while

In [ ]:
while 1==2:
    print('Hi')

In [2]:
coupoun = 5
utilized = 0
while utilized<coupoun:
    print('total coupouns left are: ', coupoun-utilized)
    utilized=utilized+1
print('no coupouns left')

total coupouns left are:  5
total coupouns left are:  4
total coupouns left are:  3
total coupouns left are:  2
total coupouns left are:  1
no coupouns left

In [11]:
num=5
dec=num-1
a=num*dec
while dec>0:
    dec=dec-1
    a=a*dec
print(a)

0

In [16]:
number = int(input('Enter the number:'))
result = 1
if number<0:
    print('There is no factorical of negative number')
else:
    while number>=1:
        result = result*number
        number=number-1
    print(result)

Enter the number:5
120

In [28]:
#Functions
def greeting():
    """This function is greeting my learners"""
    print('Good morning')

In [ ]:
greeting()

In [21]:
#Functions
def greeting(name):
    print('Good morning',name)

In [23]:
greeting('a')

Good morning a

In [24]:
#Functions
def greeting(name='Learner'):
    print('Good morning',name)

In [25]:
greeting()
greeting('a')

Good morning Learner
Good morning a

In [30]:
def factorial(number):
    
    result = 1
    if number<0:
        print('There is no factorical of negative number')
    else:
        while number>=1:
            result = result*number
            number=number-1
        print(result)

In [33]:
factorial(0)

1