In [4]:
def cal(num1,num2,option):
    if option == 'all':
        print(num1+num2)
        print(num1-num2)
        print(num1*num2)
        print(num1/num2)
        
    elif option=='add':
        print(num1+num2)
        
    elif option=='sub':
        print(num1-num2)
        
    elif option=='mul':
        print(num1*num2)
        
    elif option=='div':
        print(num1/num2)
        
    else:
        print('error')

In [6]:
output = cal(2,4,'r')

error

In [8]:
type(output)

NoneType

In [11]:
def cal(num1,num2,option):
    if option == 'all':
        return num1+num2,num1-num2,num1*num2,num1/num2
    elif option=='add':
        return num1+num2
        
    elif option=='sub':
        return num1-num2
        
    elif option=='mul':
        return num1*num2
        
    elif option=='div':
        return num1/num2
        
    else:
        return 'error'

In [13]:
cal(232432423423,23423423423,'all')

(255855846846, 209009000000, 5444363071070952036929, 9.92307653862284)

In [15]:
def cal(num1,num2,option):
    if option == 'all':
        return {'sum n1,n2':num1+num2,'sub n1,n2':num1-num2,'mul n1,n2':num1*num2,'div n1,n2':num1/num2}
    elif option=='add':
        return num1+num2
        
    elif option=='sub':
        return num1-num2
        
    elif option=='mul':
        return num1*num2
        
    elif option=='div':
        return num1/num2
        
    else:
        return 'error'

In [17]:
output = cal(232432423423,23423423423,'all')

In [18]:
output

{'sum n1,n2': 255855846846,
 'sub n1,n2': 209009000000,
 'mul n1,n2': 5444363071070952036929,
 'div n1,n2': 9.92307653862284}

In [22]:
def greeting(location, name='L'):
    print(name,location)

In [23]:
greeting('A','G')

G A

In [27]:
a = 1000
def f1():
    global a
    a=10
    print(a)

f1()

def f2():
    a=20
    
    print(a)
f2()

10
20

In [28]:
a

10

In [30]:
def add(a,b,c):
    print(a+b+c)
    
add(10,20,10)

40

In [41]:
def add(*args):
    result=0
    for i in args:
        result=i+result
    print(result)

In [42]:
add(10,20,30,40,50,60)

210

In [44]:
sumofnum = lambda a,b:a+b

In [45]:
sumofnum(10,20)

30

In [46]:
#String operations

In [48]:
a = 'Ballarpur'
type(a)

str

In [55]:
list_city = ['Surat','Ahmedabad','Nagpur','Ballarpur','Chennai']
city = input('Enter the city: ')
if city.strip().strip('$') in list_city:
    print('Found')
else:
    print('Not found')

Enter the city:    Surat$
Found

In [59]:
s = 'ballarpur'
s.find('l',3,10)

3

In [60]:
s = 'ballarpur'
s.find('z',3,10)

-1

In [61]:
s = 'ballarpur'
s.rfind('r')

8

In [72]:
s = 'rahululul'

In [73]:
l1= []
c = input("Enter the char : ")
for i in range(0,len(s)):
    if s[i]==c:
        l1.append(i)
for i in l1:
    print(i)

Enter the char : l
4
6
8

In [66]:
index =0
for i in range(0, len(s)):
    thisIndex = s.find('l', index, len(s)+1)
    print(thisIndex)
    index = thisIndex

2
2
2
2
2
2
2
2
2

In [71]:
s = 'rahululul'
lf = input('what you looking for: ')
flag = False 
pos = -1
n = len(s)
while True:
    pos = s.find(lf,pos+1,n)
    if pos==-1:
        break
    print('The index value is: ', pos)
    flag = True
if flag==False:
    print('Not found')

what you looking for: z
Not found

In [74]:
#count
#replace
#split
#join 
#case functions

In [76]:
s = 'rahultiwarirahultiwari'
s.count('r',10,20)

1

In [78]:
s = 'rahultiwarirahultiwari'
s.replace('rahul','atharv')

'atharvtiwariatharvtiwari'

In [79]:
s='rahul$tiwrari$atharv'
s.split('$')

['rahul', 'tiwrari', 'atharv']

In [81]:
s = 'rahul-tiwari-data-science-gurgaon'
s.split('-',3)

['rahul', 'tiwari', 'data', 'science-gurgaon']

In [83]:
s = ['rahul', 'tiwari','atharv']
'$'.join(s)

'rahul$tiwari$atharv'

In [89]:
s = 'rahul is a data scientist'
print(s.upper())
print(s.lower())
print(s.capitalize())
print(s.title())
print()

RAHUL IS A DATA SCIENTIST
rahul is a data scientist
Rahul is a data scientist
Rahul Is A Data Scientist

In [93]:
s = 'rahul'
print(s.islower())
print(s.isupper())
print(s.istitle())

True
False
False

In [94]:
s = 'rahul'
t = '123'
r = 'rahul123'

In [99]:
print(s.isalpha())
print(t.isnumeric())
print(r.isalnum())
print(s.isalnum())
print(t.isalnum())

True
True
True
True
True

In [ ]:
#q1. ballarpur
     012345678
    
Output: blapr
        alru
#q2. jame
     john
output: jjaomhen
    
#3. a4b1d3
output: abd134
    
#4: a4b3c2
output: aaaabbbcc